@font-face {
  font-family: "Gotham Bold";
  src: local("GothamBold"), url(../src/fonts/Gotham-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Gotham Light";
  src: local("GothamLight"),
    url(../src/fonts/Gotham-Light.otf) format("opentype");
}

@font-face {
  font-family: "Gotham Medium";
  src: local("GothamMedium"),
    url(../src/fonts/Gotham-Medium.otf) format("opentype");
}

h1,
h2 {
  font-family: "Gotham Medium";
}

body {
  margin: 45vh 0 0 0;
  font-family: "Gotham Light";
  color: #2b2b31;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  body {
    margin: 40vh 0 0 0;
  }
}
